<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">

                <a class="link" href="{{ site.url }}/"><b>robinhirt.com</b></a>
            </li>
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% else %}
                <li class="item">
                    <b><a class="link" href="{{ site.url }}/about">About</a></b>
                </li>
            {% endif %}
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% else %}
                <li class="item">
                    <b><a class="link" href="{{ site.url }}/blog">Blog</a></b>
                </li>
            {% endif %}
        {% endif %}

        <!-- {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% else %}
                <li class="item">
                    <b><a class="link" href="{{ site.url }}/projects">Projects</a></b>
                </li>
            {% endif %}
        {% endif %} -->
        
            
        {% if page.title != "Publications" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/publications">Publications</a>
            </li>
        {% else %}
            <li class="item">
                <b><a class="link" href="{{ site.url }}/publications">Publications</a></b>
            </li>
        {% endif %}
                    
        {% if page.title != "Talks" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/talks">Talks & Presentations</a>
            </li>
        {% else %}
            <li class="item">
                <b><a class="link" href="{{ site.url }}/talks">Talks & Presentations</a></b>
            </li>
        {% endif %}


        <!-- {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %} 
       {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}
        -->
    </ul>
</nav>

<!-- {% if page.title != "Home" %}
<nav class="nav-logo">
    <img class="selfie-small" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
</ul>
</nav>
{% endif %} -->